TestClient/src/conf/xml-resources/web-service-references/Doctores/wsdl/localhost_8080/TestServer/Doctores.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Serve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Serve/" name="Doctores">
<types>
<xsd:schema>
<xsd:import namespace="http://Serve/" schemaLocation="http://localhost:8080/TestServer/Doctores?xsd=1"/>
</xsd:schema>
</types>
<message name="searchDoctor">
<part name="parameters" element="tns:searchDoctor"/>
</message>
<message name="searchDoctorResponse">
<part name="parameters" element="tns:searchDoctorResponse"/>
</message>
<message name="getDoctor">
<part name="parameters" element="tns:getDoctor"/>
</message>
<message name="getDoctorResponse">
<part name="parameters" element="tns:getDoctorResponse"/>
</message>
<message name="removeDoctor">
<part name="parameters" element="tns:removeDoctor"/>
</message>
<message name="removeDoctorResponse">
<part name="parameters" element="tns:removeDoctorResponse"/>
</message>
<message name="addDoctor">
<part name="parameters" element="tns:addDoctor"/>
</message>
<message name="addDoctorResponse">
<part name="parameters" element="tns:addDoctorResponse"/>
</message>
<portType name="Doctores">
<operation name="searchDoctor">
<input wsam:Action="http://Serve/Doctores/searchDoctorRequest" message="tns:searchDoctor"/>
<output wsam:Action="http://Serve/Doctores/searchDoctorResponse" message="tns:searchDoctorResponse"/>
</operation>
<operation name="getDoctor">
<input wsam:Action="http://Serve/Doctores/getDoctorRequest" message="tns:getDoctor"/>
<output wsam:Action="http://Serve/Doctores/getDoctorResponse" message="tns:getDoctorResponse"/>
</operation>
<operation name="removeDoctor">
<input wsam:Action="http://Serve/Doctores/removeDoctorRequest" message="tns:removeDoctor"/>
<output wsam:Action="http://Serve/Doctores/removeDoctorResponse" message="tns:removeDoctorResponse"/>
</operation>
<operation name="addDoctor">
<input wsam:Action="http://Serve/Doctores/addDoctorRequest" message="tns:addDoctor"/>
<output wsam:Action="http://Serve/Doctores/addDoctorResponse" message="tns:addDoctorResponse"/>
</operation>
</portType>
<binding name="DoctoresPortBinding" type="tns:Doctores">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Doctores">
<port name="DoctoresPort" binding="tns:DoctoresPortBinding">
<soap:address location="http://localhost:8080/TestServer/Doctores"/>
</port>
</service>
</definitions>