TestClient/web/WEB-INF/wsdl/localhost_8080/TestServer/Caso.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Serve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Serve/" name="Caso">
<types>
<xsd:schema>
<xsd:import namespace="http://Serve/" schemaLocation="http://localhost:8080/TestServer/Caso?xsd=1"/>
</xsd:schema>
</types>
<message name="removeExamen">
<part name="parameters" element="tns:removeExamen"/>
</message>
<message name="removeExamenResponse">
<part name="parameters" element="tns:removeExamenResponse"/>
</message>
<message name="getCC">
<part name="parameters" element="tns:getCC"/>
</message>
<message name="getCCResponse">
<part name="parameters" element="tns:getCCResponse"/>
</message>
<message name="searchCC">
<part name="parameters" element="tns:searchCC"/>
</message>
<message name="searchCCResponse">
<part name="parameters" element="tns:searchCCResponse"/>
</message>
<message name="removeCC">
<part name="parameters" element="tns:removeCC"/>
</message>
<message name="removeCCResponse">
<part name="parameters" element="tns:removeCCResponse"/>
</message>
<message name="addCC">
<part name="parameters" element="tns:addCC"/>
</message>
<message name="addCCResponse">
<part name="parameters" element="tns:addCCResponse"/>
</message>
<message name="addMedicamento">
<part name="parameters" element="tns:addMedicamento"/>
</message>
<message name="addMedicamentoResponse">
<part name="parameters" element="tns:addMedicamentoResponse"/>
</message>
<message name="addExamen">
<part name="parameters" element="tns:addExamen"/>
</message>
<message name="addExamenResponse">
<part name="parameters" element="tns:addExamenResponse"/>
</message>
<message name="removeMedicamento">
<part name="parameters" element="tns:removeMedicamento"/>
</message>
<message name="removeMedicamentoResponse">
<part name="parameters" element="tns:removeMedicamentoResponse"/>
</message>
<portType name="Caso">
<operation name="removeExamen">
<input wsam:Action="http://Serve/Caso/removeExamenRequest" message="tns:removeExamen"/>
<output wsam:Action="http://Serve/Caso/removeExamenResponse" message="tns:removeExamenResponse"/>
</operation>
<operation name="getCC">
<input wsam:Action="http://Serve/Caso/getCCRequest" message="tns:getCC"/>
<output wsam:Action="http://Serve/Caso/getCCResponse" message="tns:getCCResponse"/>
</operation>
<operation name="searchCC">
<input wsam:Action="http://Serve/Caso/searchCCRequest" message="tns:searchCC"/>
<output wsam:Action="http://Serve/Caso/searchCCResponse" message="tns:searchCCResponse"/>
</operation>
<operation name="removeCC">
<input wsam:Action="http://Serve/Caso/removeCCRequest" message="tns:removeCC"/>
<output wsam:Action="http://Serve/Caso/removeCCResponse" message="tns:removeCCResponse"/>
</operation>
<operation name="addCC">
<input wsam:Action="http://Serve/Caso/addCCRequest" message="tns:addCC"/>
<output wsam:Action="http://Serve/Caso/addCCResponse" message="tns:addCCResponse"/>
</operation>
<operation name="addMedicamento">
<input wsam:Action="http://Serve/Caso/addMedicamentoRequest" message="tns:addMedicamento"/>
<output wsam:Action="http://Serve/Caso/addMedicamentoResponse" message="tns:addMedicamentoResponse"/>
</operation>
<operation name="addExamen">
<input wsam:Action="http://Serve/Caso/addExamenRequest" message="tns:addExamen"/>
<output wsam:Action="http://Serve/Caso/addExamenResponse" message="tns:addExamenResponse"/>
</operation>
<operation name="removeMedicamento">
<input wsam:Action="http://Serve/Caso/removeMedicamentoRequest" message="tns:removeMedicamento"/>
<output wsam:Action="http://Serve/Caso/removeMedicamentoResponse" message="tns:removeMedicamentoResponse"/>
</operation>
</portType>
<binding name="CasoPortBinding" type="tns:Caso">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeExamen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchCC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMedicamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addExamen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeMedicamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Caso">
<port name="CasoPort" binding="tns:CasoPortBinding">
<soap:address location="http://localhost:8080/TestServer/Caso"/>
</port>
</service>
</definitions>