TestClient/web/WEB-INF/wsdl/localhost_8080/TestServer/Citas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Serve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Serve/" name="Citas">
<types>
<xsd:schema>
<xsd:import namespace="http://Serve/" schemaLocation="http://localhost:8080/TestServer/Citas?xsd=1"/>
</xsd:schema>
</types>
<message name="getCita">
<part name="parameters" element="tns:getCita"/>
</message>
<message name="getCitaResponse">
<part name="parameters" element="tns:getCitaResponse"/>
</message>
<message name="addCita">
<part name="parameters" element="tns:addCita"/>
</message>
<message name="addCitaResponse">
<part name="parameters" element="tns:addCitaResponse"/>
</message>
<message name="addMonto">
<part name="parameters" element="tns:addMonto"/>
</message>
<message name="addMontoResponse">
<part name="parameters" element="tns:addMontoResponse"/>
</message>
<portType name="Citas">
<operation name="getCita">
<input wsam:Action="http://Serve/Citas/getCitaRequest" message="tns:getCita"/>
<output wsam:Action="http://Serve/Citas/getCitaResponse" message="tns:getCitaResponse"/>
</operation>
<operation name="addCita">
<input wsam:Action="http://Serve/Citas/addCitaRequest" message="tns:addCita"/>
<output wsam:Action="http://Serve/Citas/addCitaResponse" message="tns:addCitaResponse"/>
</operation>
<operation name="addMonto">
<input wsam:Action="http://Serve/Citas/addMontoRequest" message="tns:addMonto"/>
<output wsam:Action="http://Serve/Citas/addMontoResponse" message="tns:addMontoResponse"/>
</operation>
</portType>
<binding name="CitasPortBinding" type="tns:Citas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMonto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Citas">
<port name="CitasPort" binding="tns:CitasPortBinding">
<soap:address location="http://localhost:8080/TestServer/Citas"/>
</port>
</service>
</definitions>